#cabecalho .menu {
  display: flex;
}

.cabecalhoDrawer {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  align-items: center;
  justify-content: center;
}

.cabecalhoDrawer .botao {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

.cabecalhoDrawer img {
  height: 48px;
  padding: 25px 0;
}

.cabecalhoDrawer .divisor {
  width: 90%;
  margin-bottom: 25px;
}

#cabecalho .corpo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cabecalho .btnMenu {
  display: none;
}

#cabecalho .titulo {
  position: absolute;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 0;
  height: 60px;
}

#cabecalho .titulo img {
  height: 42px;
}

#cabecalho .barra,
#cabecalho .barraEscura {
  background-color: #ffffff00;
  box-shadow: none;
  color: #fff;
  transition: 0.3s all;
}

#cabecalho .barraEscura {
  /* background-color: #f5f5f5cc; */
  /* mix-blend-mode: overlay; */
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(36px);
  color: #000;
  border-bottom: 1px solid #00000015;
}

#cabecalho .menu .botao {
  text-transform: none;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  transition: 0.3s all;
  font-weight: 600;
  color: #fff;
}

.cabecalhoSubmenu {
  width: 150px;
  background-color: #000;
}

#cabecalho .barraEscura .menu .botao {
  color: #000;
}

#cabecalho .menu .botao:hover {
  color: rgb(216, 216, 216);
}

#cabecalho .barraEscura .menu .botao:hover {
  color: rgba(0, 0, 0, 70%);
}

@media (max-width: 1600px) {
  #cabecalho .titulo {
    justify-content: flex-start;
    left: 20px;
    width: 50%;
  }

  #cabecalho .corpo {
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  #cabecalho .corpo {
    justify-content: flex-start;
  }

  #cabecalho .btnMenu {
    display: block;
  }

  #cabecalho .menu {
    display: none;
  }

  #cabecalho .titulo {
    justify-content: center;
    left: 0px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #cabecalho .titulo {
    height: 55px;
  }
}
