#inicio .descricao {
  color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  text-align: center;
  background-image: radial-gradient(#afafaf 0.65px, #f1f1f1 0.65px);
  background-attachment: fixed;
  background-size: 13px 13px;
}

/* #inicio .descricao img {
  width: 94px;
  margin-right: 50px;
} */

/* #inicio .descricao span {
  font-weight: bold;
}

#inicio .descricao h2 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 20px;
} */

/* #inicio .descricao a {
  margin-top: 25px;
}

#inicio .descricao .links {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

#inicio .descricao .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
  margin: 5px;
  transition: 0.3s all;
}

#inicio .descricao .links a:hover {
  color: #ffffff;
  background-color: #000000;
} */

#inicio .apresentacao {
  display: flex;
  padding: 0 10px;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#inicio .apresentacao .conteudo {
  max-width: 1000px;
}

#inicio .apresentacao .conteudo .info {
  display: flex;
  margin: 50px 0;
  align-items: center;
}

#inicio .apresentacao .cartaz {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inicio .apresentacao .cartaz img {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  margin-right: 25px;
}

#inicio .apresentacao .texto {
  padding: 0 0 0 50px;
}

#inicio .apresentacao .texto h2 {
  margin: 0;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 100%;
  margin-bottom: 2rem;
}

#inicio .apresentacao .texto p {
  text-align: justify;
  line-height: 1.5rem;
}

#inicio .apresentacao .texto .linha {
  margin: 15px 0;
}

#inicio .materias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

#inicio .materias .divisor {
  max-width: 1500px;
  width: 100%;
  margin-bottom: 25px;
}

#inicio .materias .linha {
  width: 50%;
  margin-bottom: 50px;
}

.grid-container {
  /**
   * User input values.
   */
  --grid-layout-gap: 0px;
  --grid-column-count: 8; /* This gets overridden by an inline style. */
  --grid-item--min-width: 180px; /* This gets overridden by an inline style. */

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);

  width: 100%;
}

#inicio .materias .lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
}

#inicio .novoConteudo {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 3.5fr 2.5fr;
}

#inicio .novoConteudo .materiasItem img {
  max-width: 160px;
  width: 100%;
  height: auto;
}

#inicio .novoConteudo .novaTematica {
  margin: 2rem 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio .novoConteudo .novaTematicaTexto {
  width: 40%;
  margin-left: 1rem;
}

#inicio .novoConteudo .novaTematica h1 {
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 113%;
  margin-top: 0.5rem;
}

#inicio .apoio {
  width: 100%;
  display: flex;
}

#inicio .apoio .borda {
  width: 100px;
  height: 100%;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-color: #020617;
}

#inicio .apoio section {
  background-color: #020617;
  width: 100%;
  color: #f2f2f2;
  padding: 2rem 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#inicio .apoio .novoPatrocinadorImg {
  max-width: 320px;
  width: 100%;
  height: auto;
}

#inicio .materias .materiasItem {
  margin: 1rem auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

#inicio .materias img {
  width: 128px;
}

#inicio .timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#inicio .timeline .component {
  width: 90%;
}

#inicio .timeline .itemTimeline p {
  margin: 0;
  padding: 0;
}

#inicio .timeline .itemTimeline span {
  font-size: 0.9rem;
  color: #565656;
}

@media (max-width: 1400px) {
  #inicio .apresentacao .texto {
    padding: 0 0 0 25px;
  }
}

@media (max-width: 1100px) {
  #inicio .apresentacao {
    margin: 10px 25px;
  }

  #inicio .apresentacao .conteudo {
    flex-direction: column;
  }

  #inicio .apresentacao .texto {
    padding: 25px 0;
  }

  #inicio .apresentacao .cartaz img {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    margin-right: 25px;
  }
}

@media (max-width: 850px) {
  /* #inicio .descricao {
    flex-direction: column;
  }

  #inicio .descricao img {
    margin: 0;
    width: 125px;
  }

  #inicio .descricao h2 {
    font-size: 1.7rem;
  } */

  #inicio .apresentacao .cartaz img {
    width: 100%;
    min-width: 350px;
    margin: 0;
  }

  #inicio .apresentacao .conteudo .info {
    flex-direction: column;
  }

  #inicio .materias img {
    width: 80px;
  }

  #inicio .novoConteudo .novaTematicaTexto {
    /* width: 40%; */
    margin-left: 0.5rem;
  }

  #inicio .novoConteudo .novaTematicaTexto h1 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 100%;
  }
}
