#trabalhosAprovados {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

#trabalhosAprovados .conteudo {
    margin: 25px;
    max-width: 1200px;
    width: 100%;
}

#trabalhosAprovados .projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#trabalhosAprovados .projeto, #trabalhosAprovados .ensalamento {
    padding: 10px;
    border: 1px solid #00000020;
    margin: 5px;
    border-radius: 5px;
    max-width: 45%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#trabalhosAprovados .projeto iframe {
    border-radius: 5px;
}

#trabalhosAprovados .projeto p {
    text-transform: uppercase;
}

#trabalhosAprovados .projeto p {
    margin: 10px 0 0 0;
    font-weight: bold;
}

#trabalhosAprovados .projeto span {
    font-size: 0.8rem;
}

#trabalhosAprovados .ensalamento {
    padding: 0;
    justify-content: flex-start;
}

#trabalhosAprovados .ensalamento p {
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #00000020;
}

#trabalhosAprovados .ensalamento ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#trabalhosAprovados .ensalamento li {
    margin: 5px 0;
}

#trabalhosAprovados .orientacoes {
    background: #fff1e6;
    color: #f35900;
    border: 2px solid #f35900;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    white-space: pre-line;
}

@media (max-width: 600px) {
    #trabalhosAprovados .projeto, #trabalhosAprovados .ensalamento {
        max-width: 100%;
    }
}