@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

html, body, #App {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.btnBranco {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s all;
}

.btnBranco:hover {
    background-color: #fff;
    color: #000;
}

.btnInscricao {
    color: #292929;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}

.btnInscricao:hover {
    background-color: #254da3;
    color: #fff;
}

.linha {
    background-color: #00000010;
    height: 1px;
    width: 100%;
}