#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#contato .formulario {
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
}

#contato .formulario .basico {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contato .formulario .dado {
    margin: 10px;
    flex-grow: 1;
}

#contato .mensagem {
    display: flex;
    flex-direction: column;
}

#contato .botao {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px 0 20px 0;
}

#contato .alerta {
    width: 95%;
    max-width: 1000px;
    margin-left: 10px;
}