.banner{
    text-align: center;
    padding-bottom: 15%;
    padding-top: 20vh;
      
    align-items: center;
    justify-content: center;
  
    background: url("../imagens/banner-1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.cartaz{
    height: 100%;
    width: 100%;
}

.assuntos{
    filter: grayscale(0%);
    max-width: 150px;
}

.assuntos:hover{
    filter: grayscale(30%);
}

.rodapeC{
    padding-top: 6vh;

    background: url("../imagens/banner-1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

    color: #fff;
    padding-bottom: 1vh;
}

.rodapeR{
    padding-top: 3vh;
    background: #1b1d22;
    color: #fff;
    padding-bottom: 1vh;
}

.icone{
    font-size: 2rem;
    margin-bottom: 3vh;
}

.icone:hover{
    color: #a81d49;
}

.footerText{
    color: rgb(202, 202, 202);
}

#patrocinadores{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#materias{
    background: #a81d49;
    color: #fff;

    padding-top: 10vh;
    padding-bottom: 6vh;
}

.pt-image{
    width: 128px;
}

.aviso{
    padding: 0.1rem 1.25rem;
    margin: 1% 0 1% 0;
    width: 100%;
}

.sessao{
    margin-top: 2%;
    margin-bottom: 2%;
}