body{ 
    font-family: 'Roboto', sans-serif;
}

.f-thin{
    font-weight: 100;
}

.f-light{
    font-weight: 300;
}

.f-normal{
    font-weight: 400;
}

.f-strong{
    font-weight: 800;
}

.banner{
    text-align: center;
    padding-bottom: 20vh;
    padding-top: 20vh;
      
    align-items: center;
    justify-content: center;
  
    background: url("../imagens/banner.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.banner-s{
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 10vh;
    margin-bottom: 3%;
      
    align-items: center;
    justify-content: center;
  
    background: url("../imagens/banner.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.cartaz{
    height: 100%;
    width: 100%;
}

.assuntos{
    filter: grayscale(0%);
    max-width: 150px;
}

.assuntos:hover{
    filter: grayscale(30%);
}

.rodapeC{
    padding-top: 6vh;

    background: url("../imagens/teste5.png") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

    color: #fff;
    padding-bottom: 1vh;
}

.rodapeR{
    padding-top: 3vh;
    background: #1b1d22;
    color: #fff;
    padding-bottom: 1vh;
}

.icone{
    font-size: 2rem;
    margin-bottom: 3vh;
    color: #fff;
}

.icone:hover{
    transition: 0.2s ease-in;
    color: #a81d49;
}

.footerText{
    color: rgb(202, 202, 202);
}

#patrocinadores{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.footer2{
    background: #a81d49;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 6vh;
}

.top2{
    background: #CE854B;
    color: #fff;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.pt-image{
    width: 100px;
}

.aviso{
    padding: 0.1rem 1.25rem;
    margin: 1% 0 1% 0;
    width: 100%;
}

.sessao{
    margin-top: 2%;
    margin-bottom: 2%;
}

.sombra-slide{
    -webkit-box-shadow: 0px 0px 28px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -12px rgba(0,0,0,0.75);
}

.programacao th {
    text-align: center;
    font-weight: normal;
}

.programacao .btn-link {
    color: #1b1d22;
}

.programacao #prog {
    text-align: center;
    font-weight: 300;
    margin: 2% 0 2% 0;
}