#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: url('../../assets/imagens/fecitec/background.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#banner img {
    max-width: 800px;
    width: 90%;
}